pip-tools
python-multipart
fastapi
uvicorn
passlib[bcrypt]
bcrypt==4.0.1 # see https://foss.heptapod.net/python-libs/passlib/-/issues/190
pyjwt[crypto]
pydantic[email] >= 2
pytest
pytest-asyncio
pytest-cov
httpx
glom
networkx
psutil
cryptography
matplotlib
numpy
pandas
accept_types
jsonschema[format-nongpl]
inline-snapshot

